<%- include('partials/head') %>
<h2 class="text-center">Adicionar Nova Tia</h2>
<div class="container">
    <form action="/add" method="POST">
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-6" name="nome" placeholder="Insira seu nome" />
            <input class="form-control col-xs-12 col-md-6" name="sobrenome" placeholder="Insira seu sobrenome" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-6" name="nascimento" placeholder="Insira seu nascimento" />
            <input class="form-control col-xs-12 col-md-6" name="email" placeholder="Insira seu email" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-2" name="cep" placeholder="Insira seu cep" />
            <input class="form-control col-xs-12 col-md-10" name="logradouro" placeholder="Insira seu logradouro" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-4" name="cidade" placeholder="Insira seu cidade" />
            <input class="form-control col-xs-12 col-md-4" name="estado" placeholder="Insira seu estado" />
            <input class="form-control col-xs-12 col-md-4" name="pais" placeholder="Insira seu pais" />
        </div>
        <div class="form-group form-inline">
            <input class="form-control col-xs-12 col-md-2" name="numero" placeholder="Insira seu numero" />
            <input class="form-control col-xs-12 col-md-10" name="complemento" placeholder="Insira seu complemento" />
        </div>
        <input class="btn btn-primary offset-5 col-2" type="submit" value="Salvar" />
    </form>
</div>
<%- include('partials/footer') %>