<html>

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a048c6ba8a.js" crossorigin="anonymous"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            margin: 0;
            padding: 0;
            height: 100vh;
            overflow-x: hidden;
        }

        .content {
            width: 100vw;
        }

        .form-control {
            border: 0;
            border-bottom: 2px solid #000;
        }

        .form-control:focus {
            box-shadow: none;
        }
    </style>
</head>

<body>

    <div class="jumbotron">
        <h1 class="text-center">
            Endereços das Tias do Zap
        </h1>
    </div>